* {
    margin: 0;
    padding: 0;
}

canvas.view {
    background-color: #C3E0E5;
    z-index: 100;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -100;
}